# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and debug files
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test artifacts
.coverage
htmlcov/
.tox/
.cache/
